{% extends "base.html" %}
{% load bootstrap %}
{% load static %}

{% block header %}
 <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Cadastre-se</h1>
            <span class="subheading">Faça sua conta agora mesmo!</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}
{% block content %}
<form method="post" action=".">
  {% csrf_token %}
  {{ form|bootstrap }}

  <input class="btn btn-primary" type="submit" value="Cadastre-se" />
</form>
{% endblock %}