{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<h3>{{ titulo }}</h3>
<p class="lead">
    {% if subtitulo %}
    {{ subtitulo }}
    {% else %}
    Preencha todos os campos obrigatorios
    {% endif %}
</p>
<hr>
<form action="" method="post" enctype={{ upload }}>
    {% csrf_token %}

    {{ form|crispy }}

    {% if tag_exclusao %}
    <p>Deseja excluir o registro: <strong>{{ object }}</strong>?</p>
    {% endif %}

    <button type="submit" class="btn btn-primary {{ estilo_botao }}">
        {% autoescape off %}
        <!-- Transforma a {{ variavel }} de string para html -->
        {% endautoescape %}
        {% if botao %}
        {{ botao }}
        {% else %}
        Cadastrar
        {% endif %}
    </button>

</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $(document).ready(function() {
        $('#id_cpf').mask("000.000.000-00")
        // $('#id_telefone').mask("(00) 0 0000-0000")

        var mascaraTelefone = function(val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 0 0000-0000' : '(00) 0000-00009'
        }, 
            opcoes = {
                onKeyPress: function(val, e, field, options) {
                    field.mask(mascaraTelefone.apply({}, arguments), options)
                }
            }

        $('#id_telefone').mask(mascaraTelefone, opcoes)
    })
</script>
{% endblock %}
