{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <title></title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    {% block menu %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <div class="container">
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inicio' %}">Página Inicial</a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cadastros
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                  <li class="nav-item">
                    <a href="{% url 'listar-campos' %}" class="nav-link">Campos</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'listar-atividades' %}" class="nav-link">Atividades</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'listar-avaliacoes' %}" class="nav-link">Avaliações</a>
                  </li>
                </ul>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ajuda' %}">Ajuda</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ request.user }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink2">
                  <li><a class="dropdown-item" href="{% url 'atualizar-dados' %}">Meus dados</a></li>
                  <li><a class="dropdown-item" href="{% url 'atualizar-dados' %}">Alterar Senha</a></li>
                  <hr class="mt-0 mb-1">
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                </ul>
              </li>
            {% else %}
            <li><a class="nav-link" href="{% url 'registrar' %}">Cadastre-se</a></li>
              <li><a class="nav-link" href="{% url 'login' %}">Entrar</a></li>
            {% endif %}
            
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}

    <div class="container">
        {%block content %}
        {% endblock %}
    </div>

    {% block footer %}
    <div class="container fixed-bottom">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top ">
          <div class="col-md-4 d-flex align-items-center ">
            <span class="mb-3 mb-md-0 text-muted">Desenvolvido por @ipedromotta</span>
          </div>
        </footer>
      </div>
    {% endblock %}

    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block scripts %}

    {% endblock %}
</body>
</html>