{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Autenticação</title>
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<h3>Você já está logado</h3>
<hr>
<p class="lead">
    Para acessar outra conta basta clicar em <a class="btn btn-primary btn-sm" href="{% url 'logout' %}">SAIR</a>.
</p>
{% else %}
<h3>Autenticação</h3>
<hr>
<div class="row">
    <div class="col-md-4 mx-auto">
        <form action="" method="post">
            {% csrf_token %}
        
            {{ form|crispy }}
        
            <button type="submit" class="btn btn-primary">Entrar</button>
        
        </form>
    </div>
</div>
{% endif %}

{% endblock %}